# Base de datos
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=crecemos_website

# Configuración de correo
MAIL_HOST=mail.crecemos.com.pe
MAIL_PORT=465
MAIL_USER=rrhh@crecemos.com.pe
MAIL_PASSWORD=

# URL del frontend (para links en correos)
FRONTEND_URL=https://crecemos.com.pe
